**/*.ipynb_checkpoints/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/


# Reconstruction
Reconstruction/content/EEGImageNetDataset_Spam/*
Reconstruction/experiment/Nopphon/content/celeba/img_align_celeba/*
Reconstruction/experiment/Nopphon/content/very_nice_dataset/very_nice_dataset.dat
Reconstruction/experiment/akrarads/tigers
Reconstruction/experiment/akrarads/faces
Reconstruction/experiment/akrarads/apples
Reconstruction/experiment/akrarads/dataset